* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: normal;
}

h1 {
  color: goldenrod;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url(../images/background-image-2.jpg);
  opacity: 1.9;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;
}

.lg-heading {
  text-decoration: underline;
  position: absolute;
  top: 69%;
  left: 59%;
  font-size: 75px;
  color: whitesmoke;
}

.sm-heading {
  position: absolute;
  top: 82%;
  left: 60%;
  font-size: 25px;
  color: goldenrod;
}

.text-secondary {
  color: whitesmoke;
}

.icons {
  font-size: 30px;
}

.fa-github {
  top: 50px;
  left: 50px;
}

.nav {
  width: 350px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
}

.nav a {
  text-decoration: none;
  font-size: 28px;
  font-family: verdana;
  font-weight: bold;
  height: 75px;
  margin: 5px 0;
  float: left;
  display: inline-block;
  background-color: black;
  color: white;
  line-height: 75px;
  text-align: center;
  transition: 300ms;
}

a.active,
.nav a:hover {
  background-color: goldenrod;
  color: black;
  width: 100%;
}

b.active,
.nav a:hover {
  background-color: goldenrod;
  color: black;
  width: 100%;
}

c.active,
.nav a:hover {
  background-color: goldenrod;
  color: black;
  width: 100%;
}

d.active,
.nav a:hover {
  background-color: goldenrod;
  color: black;
  width: 100%;
}

.a {
  width: 95%;
}
.b {
  width: 85%;
}
.c {
  width: 80%;
}
.d {
  width: 90%;
}

/* About me */

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  left: 50%;
}

#line-divider {
  border-bottom: 2px solid goldenrod;
  width: auto;
}

#Autobiography {
  color: whitesmoke;
  font-size: 18px;
}

.content {
  position: absolute;
  width: 70%;
  min-height: 500px;
  height: auto;
  right: 0;
  top: 10%;
}

.faIcon a {
  width: 80px;
  height: 80px;
  background: black;
  text-align: center;
  line-height: 80px;
  font-size: 14px;
  margin: 0 5px;

  position: relative;
  overflow: hidden;
  border: 17px solid black;
}

.faIcon a .fa {
  position: relative;
  color: white;
  transition: 1s;
}

.faIcon a:hover .fa {
  transform: rotateY(360deg);
  color: goldenrod;
}

/* Project Page */

.projectDiv {
  padding: 20px;
  margin: 5px;
  width: 700px;
  height: 600px;
  margin-left: 40%;
}

h3 {
  color: white;
}

h2 {
  color: goldenrod;
}
.projectDiv .image {
  width: 23%;
  margin: 2%;
  float: left;
  color: white;
}

.projectList {
  display: inline-block;
  height: auto;
  width: auto;
}

#projectList img {
  height: 200px;
  width: 250px;
}

#projectList h4 {
  color: white;
}

#projectList p {
  color: white;
}

.gitHubImg a .fa {
  color: white;
  transition: 0.5s;
}

.gitHubImg a:hover .fa {
  transform: rotateY(360deg);
  color: goldenrod;
}

/* Contact Page */

#contactDiv {
  display: inline-grid;
  font-size: 25px;
  margin-left: 25%;
  margin-top: 5%;
}

.contactHeader {
  padding: 20px;
  margin: 5px;
  width: 700px;
  height: 600px;
  margin-left: 40%;
}

#contactMiniBox {
  display: inline-flex;
  color: white;
}

.email {
  border-style: double;
  border-color: white;
  width: 200px;
  height: auto;
  margin: 5px;
}

.SM {
  border-style: double;
  border-color: white;
  width: 200px;
  height: auto;
  margin: 5px;
  color: white;
}

#QRCode img{
  height: 220px;
  width: 200px;
  color: white;
}
